<!DOCTYPE html>
<html>
  <head>
    <title>Envelope Budgeting App</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

   
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="font-family:sans-serif; margin:20px;">
    <nav>
      <%= link_to 'Envelopes', envelopes_path%>
      <%= link_to 'Add Income', new_income_path%>
      <%= link_to 'move Income', "/transactions/move"%>
      <%= link_to 'Spend Money', "/transactions/spend"%>
    </nav>

    <% flash.each do |key, message| %>
    <div style="padding: 10px, margin-bottom:20px;border-radius:5px; border:1px solid <%= key == "notice" ? 'green' : 'red' %>; color: <%= key == "notice" ? 'green' : 'red' %>;">
      <%= message%>

    </div>
    <%end%>

    <%= yield %>
  </body>
</html>
